@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, html, body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

#container {
    background-image: url("images/rectangle1.png") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 69.5vh;

    position: relative;
}


strong {
    color: #F78065;
}

header {
    display: flex;
    flex-flow: row;
}

header a img {
    margin: 38px 0 0 130px;
}

header div img {
    margin: 28px 0 0 750px;
}

.first-setion {
    position: absolute;

    background: white;

    box-shadow: 0 4px 100px rgba(0, 0, 0, 0.1);

    width: 600px;
    height: 440px;

    margin-top: 300px;
    margin-left: 60px; 
    margin-bottom: 200px;
    padding: 10px;

    font-family: 'Montserrat', sans-serif;
}

.first-setion h1 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 39px;

    margin: 64px 68px 16px 15px;
}

.first-setion p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);

    margin: 16px 68px 38px 15px;
}

.explore_button span {
    margin-left: 8px;
}

.explore_button {
    width: 250px;
    height: 65px;

    background: #F78065;

    color: white;  
    font-size: 18px;
    font-weight: bold;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;

    border: none;

    margin-left: 15px;
}

.second-section {
    display: flex;
    align-content: space-between;

    margin-top: 470px;
    margin-left: 90px; 
    margin-bottom: 253px;

    width: 40%;
}

.second-section div {
    padding: 0 35px;
}

.second-section img {
    margin: 84px 0;
}

.second-section h1 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;

    margin-bottom: 20px;
}

.second-section p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);

    margin-bottom: 20px;
}

.second-section a {
    font-size: 18px;
    color: #F78065;
    text-decoration: none;
}

.third-section {
    display: flex;
    flex-flow: column;

    margin-left: 100px;
}

.third-section_contents {
    display: flex;

    justify-content: space-between;
}

.third-section_title {
    font-weight: 700;
    font-size: 36px;
}

.third-section img {
    margin-top: 114px;
    margin-bottom: 69px;
}