@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background-image: url("images/rectangle1.png") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 800px;
}


strong {
    color: #F78065;
}

header {
    display: flex;
    flex-flow: row;
}

header a img {
    padding: 38px 0 0 112px;
}

header div img {
    padding: 28px 132px 0 1078px;
}

.explore {
    position: absolute;

    background: white;

    box-shadow: 0 4px 100px rgba(0, 0, 0, 0.1);

    width: 741px;
    height: 537px;
    margin-top: 341px;
    margin-left: 60px;
    padding: 70px;

    font-family: 'Montserrat', sans-serif;
}

.explore h1 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 39px;

    padding: 64px 68px 16px 0;
}

.explore p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);

    padding: 16px 68px 38px 0;
}

.explore_button span {
    margin-left: 8px;
}

.explore_button {
    width: 250px;
    height: 65px;

    background: #F78065;

    color: white;  
    font-size: 18px;
    font-weight: bold;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;

    border: none;
}

.second-section {
    width: 386px;
    height: 224px;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.second-section h1 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;

    padding: 169px 

}

.second-section p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.second-section a {
    font-size: 18px;
    color: #F78065;
}