@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, html, body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

a {
    cursor: pointer;
}

h1 {
    font-family: 'Merriweather', serif;

    text-align: center;
}

p {
    text-align: justify;
}

/* a {
    display: block;
    margin: auto;
} */

@media (min-width: 40rem) {
    h1, p {
        text-align: left;
    }
}