.image-1 {
    position: absolute;
    width: 100%;
    
    z-index: -100;
}

.cube {}

strong {
    color: #F78065;
}

header {
    display: flex;
    flex-flow: row;
}

header a img {
    margin: 1rem 0 0 1.7rem;

    width: 2rem;
} 

header div img {
    margin: 1rem 0 0 1rem;

    width: 3.7rem;
}

.first-setion {
    margin: 13rem 1rem;
}

.first-setion h1 {
    font-weight: 700;
    font-size: 2rem;

    text-align: center;

    margin: 3rem auto;
}

.first-setion p {
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.6);

    margin: 3rem auto;

    text-align: justify;
}

.explore_button span {
    margin-left: 0.5rem;
}

.explore_button {
    width: 15.6rem;
    height: 4rem;

    background: #F78065;

    color: white;  
    font-size: 1.125rem;
    font-weight: bold;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;

    border: none;

    margin: auto;
}

@media (min-width: 40rem) {
    header {
        display: flex;
        flex-flow: row;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 20px 80px;
    }
    
    header a img {
        width: 2rem;
        height: 2rem;
    }
     
    header div img {
        width: 5.3rem;
        height: 3.3rem;
    }

    .first-setion {
        background: white;

        box-shadow: 0 0.25rem 6.25rem rgba(0, 0, 0, 0.1);

        width: 50%;

        margin: 13rem 0 0 3.5rem;

        padding: 42px;
    }
  
    .first-setion h1 {
        font-size: 2.4rem;
        
        text-align: left;
/* 
        margin: 6.25rem 7.5rem 0 2.2rem; */
    }

    .first-setion p {
        /* margin: 2rem 7.5rem 2rem 2.2rem; */

        text-align: left;
    }

    .explore_button {
        /* margin-left: 2.2rem; */
    }

 } 