.second-section {
    margin: 7rem 1rem 10rem 1rem;
}

.second-section img {
    display: block;
    margin: auto;
}

.second-section div {
    margin-bottom: 4rem;
}

.second-section h1 {
    font-size: 1.5rem;
    font-weight: 700;

    color: #000000;

    margin: 2rem 0; 

    text-align: center;
}

.second-section p {
    font-size: 1.2rem;
    font-weight: 500;

    color: rgba(0, 0, 0, 0.5);

    margin-bottom: 2rem;

    text-align: justify;
}

.second-section a {
    font-size: 1.2rem;
    font-weight: 700;

    color: #F78065;

    text-decoration: none;

    display: block;
    text-align: justify;
}

@media (min-width: 40rem) {
    .second-section {
        display: flex;
        justify-content: space-between;
    
        margin: 10 auto;

        padding: 0 6rem;
    }

    .second-section_content h1 {
        font-size: 1.5rem;

        /* margin-top: auto; */

        text-align: left;
    }   

    .second-section_content img { 
        margin-bottom: 5.25rem;
    }

    .second-section_content p {
        font-size: 1rem;

        /* margin-top: auto;  */

        text-align: left;        
    }
 
    /* .second-section_content {
        position: relative;
    }  */

    .second-section a {
        font-size: 1.2rem;

        margin-top: auto;

        text-align: left;
    }

    .second-section div {
        margin-right: 2rem;
        
        width: 35%
     
    }

}