.second-section {
    margin: 7rem 1rem 10rem 1rem;
}

.second-section img {
    display: block;
    margin: auto;
} 

.second-section div {
    margin-bottom: 4rem;
}

.second-section h1 {
    font-size: 1.5rem;
    font-weight: 700;

    color: #000000;

    margin: 2rem 0; 
}

.second-section p {
    font-size: 1.2rem;
    font-weight: 500;

    color: rgba(0, 0, 0, 0.5);

    margin-bottom: 2rem;
}

.second-section a {
    font-size: 1.2rem;
    font-weight: 700;

    color: #F78065;

    text-decoration: none;
}

@media (min-width: 40rem) {
    .second-section {
        display: flex;
        justify-content: center;
        align-items: baseline;
    
        margin: auto;

        width: 100%;

        padding: 0 3rem;
    }
    
    .second-section_content {
        min-width: 13rem;
        max-width: 25rem;
    }
    
    .second-section_content h1 {
        display: flex;
        align-items: baseline;
        
        font-size: 1.5rem;
    }   

    .second-section_content img { 
        margin-bottom: 84px;
    }

    .second-section_content p {
        display: flex;
        align-items: baseline;

        font-size: 1rem;
    }
 
    
    .second-section_links {
        display: flex;
        align-content: flex-end;
        
        margin-top: auto;

        font-size: 1.2rem;
    }

    .second-section div {
        margin-right: 2rem;
        
        width: 28%;
    }

}