.third-section {     
    margin: 0 1rem;
}

.third-section_content {
    margin-bottom: 5rem;
   
}

.third-section_content a {
    margin-top: 5rem;
}

.third-section_title {
    font-weight: 700;
    font-size: 2.25rem;

    text-align: center;

    margin-bottom: 7rem;
}

.third-section img {
    display: block;
    margin: auto;

    width: 2rem;
    height: 2rem;
}

.third-section_contents h1 {
    font-weight: 700;
    font-size: 1.9rem;

    margin: 3rem 0;

    text-align: center;

    color: #000000;

}

.third-section p {
    font-weight: 500;
    font-size: 1.3rem;  

    text-align: justify;

    color: rgba(0, 0, 0, 0.5);
    
}

.third-section a {
    font-size: 1.2rem;
    font-weight: 700;

    text-decoration: none;

    display: block;
    text-align: center;

    margin-top: 3rem;

    color: #F78065;
}

@media (min-width: 40rem) {
    .third-section {
        display: flex;
        flex-flow: column;

        /* margin: 0 0rem 0 6rem; */
    }
    
    .third-section_contents {
        display: flex;
        justify-content: space-between;

        margin: 0 auto;

        padding: 0 6rem;
    }

    .third-section_content {
        display: flex;
        flex-flow: column;

        width: 40%;
/* 
        margin-right: 4rem; */
    }

    .third-section_title {
        display: flex;
        flex-flow: row;

        width: 100%;

        margin-left: 6rem;

        font-weight: 700;
        font-size: 2.25rem;

        text-align: left;
    }

    .third-section img {
        margin: 2.5rem 0;

        width: 2rem;
        height: 2rem;
    }

    .third-section_margin {
        margin-right: 3rem;
    }

    .third-section_contents h1 {
        font-weight: 700;
        font-size: 1.4rem;

        text-align: left;

        color: #000000;

        /* margin: 6.75rem 0rem 2.5rem 0; */
    }

    .third-section_content a {
        margin-top: auto;
    }
    
    .third-section p {
        font-weight: 500;
        font-size: 14px;

        text-align: left;

        margin-bottom: 2rem;
/* 
        margin: 0 0rem 1rem 0; */

        color: rgba(0, 0, 0, 0.5);
    
        /* width: 18.75rem; */
    }

    .third-section a {
        font-size: 1.125rem;
        font-weight: 700;

        text-decoration: none;

        text-align: left;

        color: #F78065;
    }
}