.fourth-section {
    margin: 1.5rem 1rem;
}

.fourth-section div {
    margin: 3rem 0;
}

.fourth-section_text h1 {
    font-size: 2.25rem;
    font-weight: 700;

    /* text-align: center; */

    margin-bottom: 1em;
}

.fourth-section_text p {
    font-size: 1.2rem; 
    font-weight: 400;

    /* text-align: justify; */

    height: 4.125rem;

    color: rgba(0, 0, 0, 0.5);

    margin-bottom: 4rem;
}

.start_button {
    font-size: 1.125rem;
    font-weight: 700;

    background: #F78065;

    color: white;

    width: 15.6rem;
    height: 3.75rem; 

    display: block;
    margin: auto;

    border: none;
}

.start_button span {
    margin-left: 0.25rem;
}

.fourth-section_images img{
    display: block;
    margin: auto;
}

.fourth-section_images h1 {
    font-size: 1.5rem;
    font-weight: 700;

    /* text-align: center; */

    margin: 1rem 0;
}

.fourth-section_images p {
    font-size: 1.2rem;
    font-weight: 700;

    color: #3F3D56;

    text-align: center; 

    margin-bottom: 0.5rem;
}

.fourth-section_images a {
    font-size: 1.125rem;
    font-weight: 500;
    
    display: block;
    text-align: center;

    color: #F78065;

    text-decoration: none;
}

@media (min-width: 40rem) {
    .fourth-section {
        display: flex;
        flex-flow: row;
        
        /* margin: 16.5rem 0 0 6.25rem; */
    }

    .fourth-section_text {
        padding-left: 2rem;

        margin: 0 2rem
    }

    .fourth-section_text h1 {
        width: 60%;

        margin-top: 2rem;

        /* height: 10.7rem; */

        /* margin: 0 8rem 4rem 0; */
/* 
        text-align: left; */
    }

    .fourth-section div {
        /* margin: 0 3rem 0 0; */

        /* text-align: left; */
    }

    .fourth-section_text p {
        width: 70%;
        /* height: 2rem; */

        font-size: 1.125rem;

        /* text-align: left; */

        margin-bottom: auto;
    }

    .fourth-section_images {
        /* margin: 0 0 0 3rem; */
        margin-left: 3rem;

        width: 50%;
        
        padding: 1rem;
    }

    .fourth-section_images h1,
    .fourth-section_images p,
    .fourth-section_images a{
        text-align: left;

        margin-left: 1rem;
    }

    .start_button {
        display: block;
        align-items: left;

        margin: 5.5rem 0; 
    }

    .start_button span {
        margin-left: 0.25rem;
    }

}