.fifth-section {
    margin: 7rem 1rem;
}

.fifth-section_contents {
    margin: auto;
}

.fifth-section_title {
    font-size: 2.25rem;
    font-weight: 700;

    margin-bottom: 6rem;
}

.fifth-section_content img {
    width: 2rem;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
}

.fifth-section_content h1 {
    font-size: 1.4rem;
    font-weight: 700;

    margin: 3rem 0;
}

.fifth-section_content p {
    font-size: 1.2rem;
    font-weight: 500;

    color: rgba(0, 0, 0, 0.5);

    margin-bottom: 5rem;
}

@media (min-width: 40rem) {
    .fifth-section {
        display: flex;
        flex-flow: column;
    
        width: 100%;

        padding: 0 1rem;
    }
    
    .fifth-section_contents {
        display: flex;
        justify-content: center;
        align-items: center;
    
        padding: 6rem;
    }

    .fifth-section_title {
        display: flex;
        justify-content: flex-start;

        padding: 0 6.25rem;

        text-align: left;

    }
    
    .fifth-section_content {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
    
    .fifth-section_content img {
        margin: 0 0 3.9rem 0 ;
    }

    .fifth-section_content h1 {
        margin-right: 2.6rem;
    }
    
    .fifth-section_content p {
        font-size: 0.9rem;

        margin-right: 2.6rem;
    }
    
}