.main-footer {
    background: #F7F7F7;

    padding: 0.3rem;
}

.main-footer a {
    text-decoration: none;
}

.sixth-section_content {
    display: flex;
    flex-flow: column;  
}

.sixth-section_title {
    font-family: 'Merriweather', serif;
}

.sixth-section_title h1 {
    margin-top: 7rem;

    text-align: center;
}

.sixth-section_title h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.sixth-section_title p {
    font-size: 3rem;
    font-weight: 700;

    margin: 3rem 0;

    text-align: center;

    color: #000000;
}


.sixth-section_content {
    text-align: center;

    margin-bottom: 3rem;
}

.sixth-section_content h1 {
    font-size: 1.125rem;
    font-weight: 700;

    margin: 4rem 0 2rem 0;
}

.sixth-section_content a {
    font-size: 1.2rem;
    font-weight: 400;

    margin: 0.7rem 0;

    color: #000000;
}

hr {
    width: 90%;

    display: block;
    margin: auto;   
    
    color: rgba(0, 0, 0, 0.2);
}

.main-footer_2nd {
    font-size: 0.9rem;

    margin: 4rem 0;
}

.sixth-section_footer {
    text-align: center;
}


#sixth-section_rights {
    font-size: 1.2rem;

    padding-bottom: 4rem;
}

#sixth-section_rights p {
    text-align: center;
}

#sixth-section_links a {
    font-size: 1.2rem;

    margin: 0rem 1rem;

    line-height: 2.5rem;

    color: #000000;
}

@media (min-width: 40rem) {
    .main-footer {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        width: 100%;

        margin: 0;
    }
    
    .sixth-section_contents {
        display: flex;
        flex-flow: row;
        justify-content: center;

        margin: 3rem 0 0 7rem;

        width: 70%;
    }
    
    .sixth-section_title {
        display: flex;
        flex-flow: column;

        padding: 0 5rem;

        width: 20%;
    }

    .sixth-section_title h1,
    .sixth-section_title p {
        text-align: left;
    }

    .sixth-section_content {
        padding: 0 2rem;

        width: 80%;
    }

    .main-footer_1st {
        display: flex;
        flex-flow: row; 
    }

    .sixth-section_content a {
        display: flex;
        flex-flow: column;
    
        font-size: 0.9rem;
        font-weight: 400;
        
        margin-bottom: 1.5rem;

        text-align: left;
        
    }

    .sixth-section_content h1 {
        text-align: left;
    }
     
    hr {
        width: 90%;
    }

    .main-footer_2nd {
        display: flex;
        flex-flow: row;
        justify-content: space-between; 

        margin-bottom: 0;
    }

    #sixth-section_rights { 
        font-size: 0.9rem;
        font-weight: 400; 

        margin-top: 0.7rem;
    }

    #sixth-section_rights p {
        text-align: left;
    }
    
    #sixth-section_links {
        display: flex;
        flex-flow: row;  
    }

    #sixth-section_links a { 
        font-size: 0.9rem;
        font-weight: 400; 
    }

    .main-footer_2nd {
        display: flex;
        flex-flow: row;

        width: 90%;

        padding: 0 auto;
    }

    #sixth-section_rights { 
        font-size: 0.9rem;
        font-weight: 400; 

        margin-left: 3.5rem; 
    }

    #sixth-section_links {
        display: flex;
        flex-flow: row;
    }

    #sixth-section_links a { 
        font-size: 0.9rem;
        font-weight: 400; 
    }


}