.main-footer {
    background: #F7F7F7;

    padding: 0.3rem;
}

.main-footer a {
    text-decoration: none;
}

.sixth-section_content {
    display: flex;
    flex-flow: column;  
}

.sixth-section_title {
    font-family: 'Merriweather', serif;
}

.sixth-section_title h1 {
    margin-top: 7rem;

    text-align: center;
}

.sixth-section_title h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.sixth-section_title p {
    font-size: 3rem;
    font-weight: 700;

    margin: 3rem 0;

    text-align: center;

    color: #000000;
}


.sixth-section_content {
    text-align: center;
}

.sixth-section_content h1 {
    font-size: 1.125rem;
    font-weight: 700;

    margin: 4rem 0 2rem 0;
}

.sixth-section_content a {
    font-size: 1.2rem;
    font-weight: 400;

    margin: 0.7rem 0;

    color: #000000;
}

hr {
    width: 90%;

    display: block;
    margin: auto;

    color: rgba(0, 0, 0, 0.2);
}

.main-footer_2nd {
    font-size: 0.9rem;

    margin: 4rem 0;
}

.sixth-section_footer {
    /* display: flex;
    flex-flow: column;   */

    text-align: center;
}

#sixth-section_rights {
    font-size: 1.2rem;

    margin: auto;

    padding-bottom: 3rem;
}

#sixth-section_links a {
    font-size: 1.2rem;

    margin: 0rem 1rem;

    color: #000000;
}

/* .vl {
    border-left: 0.1px solid black;
    height: 10px;

    padding: 0.4rem;
} */

@media (min-width: 40rem) {
    .main-footer {
        display: flex;
        flex-flow: column;

        margin: 0;
    }
    
    .sixth-section_contents {
        display: flex;
        flex-flow: row;

        margin: 0 6.8rem 0 12em;

    }
    
    .sixth-section_title {
        display: flex;
        flex-flow: column;

        margin: 0 0 0 6.4rem;

        width: 19rem;
    }

    .sixth-section_title h1,
    .sixth-section_title p {
        text-align: left;
    }

    .sixth-section_content {
        margin: 3rem 9rem 0 0;
    }


    .main-footer_1st {
        display: flex;
        flex-flow: row; 
    }

    .sixth-section_content a {
        display: flex;
        flex-flow: column;
    
        font-size: 0.9rem;
        font-weight: 400;
        
        margin-bottom: 1.5rem;

        text-align: left;
    }

    .sixth-section_content h1 {
        width: 13rem;

        text-align: left;
    }
     
    hr {
        width: 81rem;
    
        margin: 0 6.3rem 0 6.25rem;
    }
    
    .main-footer_2nd {
        display: flex;
        flex-flow: row;
    }

    #sixth-section_rights { 
        font-size: 0.9rem;
        font-weight: 400; 

        margin: 3rem 0 0 6.25rem; 
    }
    
    #sixth-section_links {
        display: flex;
        flex-flow: row;  
       
        margin: 0 0 0 36rem; 
    }

    #sixth-section_links a { 
        font-size: 0.9rem;
        font-weight: 400; 

        margin-right: 3rem; 
    }

    
}